<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>ico_sell_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 60}</string>
			<key>spriteSourceSize</key>
			<string>{68, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{140, 430}, {68, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ico_sell_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 60}</string>
			<key>spriteSourceSize</key>
			<string>{68, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{210, 430}, {68, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ico_sell_disabled_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 60}</string>
			<key>spriteSourceSize</key>
			<string>{68, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 430}, {68, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ico_sell_off_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 60}</string>
			<key>spriteSourceSize</key>
			<string>{68, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{70, 430}, {68, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{384, 172}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{480, 172}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{288, 0}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{672, 344}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{96, 0}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{288, 86}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 344}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_0020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{192, 86}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_0021.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{672, 258}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_0022.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{192, 0}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_0023.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{384, 344}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_0024.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{576, 0}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_0025.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{864, 0}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_0026.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{864, 258}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_0027.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{768, 0}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_0028.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{192, 344}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_0029.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{768, 172}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_0030.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{576, 258}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_0031.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{96, 86}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_0032.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{480, 0}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_0033.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{288, 258}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_0034.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{480, 86}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_0035.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{384, 258}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_0036.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{96, 172}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_0037.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{192, 258}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_disabled_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{96, 344}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_disabled_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{192, 172}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_disabled_0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{576, 86}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_disabled_0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{864, 86}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_disabled_0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_disabled_0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{480, 258}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_disabled_0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 258}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_disabled_0020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{384, 0}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_disabled_0021.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{768, 258}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_disabled_0022.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{96, 258}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_disabled_0023.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{576, 172}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_disabled_0024.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{384, 86}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_disabled_0025.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{768, 344}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_disabled_0026.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{672, 86}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_disabled_0027.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{864, 344}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_disabled_0028.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{480, 344}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_disabled_0029.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{288, 344}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_disabled_0030.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{768, 86}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_disabled_0031.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{576, 344}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_disabled_0032.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{864, 172}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_disabled_0033.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{288, 172}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_disabled_0034.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{672, 0}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_disabled_0035.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{672, 172}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_disabled_0036.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 172}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_icons_disabled_0037.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{94, 84}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 86}, {94, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>price_tag.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 40}</string>
			<key>spriteSourceSize</key>
			<string>{60, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{280, 472}, {60, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>price_tag_disabled.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 40}</string>
			<key>spriteSourceSize</key>
			<string>{60, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{342, 430}, {60, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>price_tag_off.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 40}</string>
			<key>spriteSourceSize</key>
			<string>{60, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{280, 430}, {60, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.8</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>spritesheet_common_16_a_2hd.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>Retina</string>
			<key>textureFileName</key>
			<string>common_spritesheet_16_a_2-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>common_spritesheet_16_a_2-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>