<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Bat_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>Bat_0002.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 3}, {14, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{14, 16}</string>
			<key>spriteSourceSize</key>
			<string>{28, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{576, 487}, {14, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Bat_0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>Bat_0004.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {18, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{18, 12}</string>
			<key>spriteSourceSize</key>
			<string>{28, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{450, 342}, {12, 18}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Bat_0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>Bat_0006.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 1}, {18, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{18, 16}</string>
			<key>spriteSourceSize</key>
			<string>{28, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{556, 494}, {16, 18}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Bat_0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>Bat_0008.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 6}, {24, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{24, 8}</string>
			<key>spriteSourceSize</key>
			<string>{28, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 504}, {24, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_award_left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {240, 126}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{240, 126}</string>
			<key>spriteSourceSize</key>
			<string>{240, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 374}, {240, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>comicContinue.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 1}, {338, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{338, 74}</string>
			<key>spriteSourceSize</key>
			<string>{350, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 0}, {74, 338}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>defeat_tipBg_center.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {34, 170}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 170}</string>
			<key>spriteSourceSize</key>
			<string>{34, 176}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{818, 0}, {170, 34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>defeat_tipBg_left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {28, 170}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{28, 170}</string>
			<key>spriteSourceSize</key>
			<string>{30, 176}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{818, 38}, {170, 28}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>encyclopedia_icons_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {28, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{28, 34}</string>
			<key>spriteSourceSize</key>
			<string>{40, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{526, 272}, {28, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>encyclopedia_icons_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {28, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 30}</string>
			<key>spriteSourceSize</key>
			<string>{40, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{992, 172}, {30, 28}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>encyclopedia_icons_0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {30, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 26}</string>
			<key>spriteSourceSize</key>
			<string>{40, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 342}, {30, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>encyclopedia_icons_0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {28, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{28, 32}</string>
			<key>spriteSourceSize</key>
			<string>{40, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{992, 108}, {32, 28}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>encyclopedia_icons_0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 5}, {40, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{40, 30}</string>
			<key>spriteSourceSize</key>
			<string>{40, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{710, 482}, {40, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>encyclopedia_icons_0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 4}, {20, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{20, 32}</string>
			<key>spriteSourceSize</key>
			<string>{40, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{414, 342}, {32, 20}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>encyclopedia_icons_0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {28, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{28, 32}</string>
			<key>spriteSourceSize</key>
			<string>{40, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{992, 140}, {32, 28}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>finalBoss_spawn_0076.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>finalBoss_spawn_0099.png</string>
			
				<string>finalBoss_spawn_0108.png</string>
			
				<string>finalBoss_spawn_0097.png</string>
			
				<string>finalBoss_spawn_0092.png</string>
			
				<string>finalBoss_spawn_0095.png</string>
			
				<string>finalBoss_spawn_0107.png</string>
			
				<string>finalBoss_spawn_0103.png</string>
			
				<string>finalBoss_spawn_0087.png</string>
			
				<string>finalBoss_spawn_0088.png</string>
			
				<string>finalBoss_spawn_0106.png</string>
			
				<string>finalBoss_spawn_0104.png</string>
			
				<string>finalBoss_spawn_0081.png</string>
			
				<string>finalBoss_spawn_0082.png</string>
			
				<string>finalBoss_spawn_0089.png</string>
			
				<string>finalBoss_spawn_0094.png</string>
			
				<string>finalBoss_spawn_0100.png</string>
			
				<string>finalBoss_spawn_0093.png</string>
			
				<string>finalBoss_spawn_0102.png</string>
			
				<string>finalBoss_spawn_0084.png</string>
			
				<string>finalBoss_spawn_0090.png</string>
			
				<string>finalBoss_spawn_0085.png</string>
			
				<string>finalBoss_spawn_0091.png</string>
			
				<string>finalBoss_spawn_0080.png</string>
			
				<string>finalBoss_spawn_0079.png</string>
			
				<string>finalBoss_spawn_0098.png</string>
			
				<string>finalBoss_spawn_0083.png</string>
			
				<string>finalBoss_spawn_0077.png</string>
			
				<string>finalBoss_spawn_0101.png</string>
			
				<string>finalBoss_spawn_0105.png</string>
			
				<string>finalBoss_spawn_0086.png</string>
			
				<string>finalBoss_spawn_0096.png</string>
			
				<string>finalBoss_spawn_0078.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 69}, {248, 174}}</string>
			<key>spriteOffset</key>
			<string>{-8, -28}</string>
			<key>spriteSize</key>
			<string>{248, 174}</string>
			<key>spriteSourceSize</key>
			<string>{320, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{760, 108}, {174, 248}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>notifications_creeps_bgTileMiddle.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 7}, {32, 308}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{32, 308}</string>
			<key>spriteSourceSize</key>
			<string>{32, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{458, 0}, {32, 308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>notifications_creeps_bgTileRight.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {118, 320}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{118, 320}</string>
			<key>spriteSourceSize</key>
			<string>{120, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{244, 372}, {320, 118}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>notifications_creeps_marco.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {268, 252}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{268, 252}</string>
			<key>spriteSourceSize</key>
			<string>{276, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{494, 0}, {252, 268}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>notifications_tit_generics_left_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 11}, {234, 148}}</string>
			<key>spriteOffset</key>
			<string>{9, -5}</string>
			<key>spriteSize</key>
			<string>{234, 148}</string>
			<key>spriteSourceSize</key>
			<string>{252, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{754, 360}, {234, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>options_close_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {76, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 74}</string>
			<key>spriteSourceSize</key>
			<string>{80, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{938, 282}, {76, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>options_close_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {76, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 74}</string>
			<key>spriteSourceSize</key>
			<string>{80, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{938, 204}, {76, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>options_tileMid_center.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {10, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{10, 112}</string>
			<key>spriteSourceSize</key>
			<string>{10, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{594, 487}, {112, 10}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>options_tileMid_left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {54, 112}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{54, 112}</string>
			<key>spriteSourceSize</key>
			<string>{56, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{568, 371}, {54, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>options_tileMid_right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 112}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{55, 112}</string>
			<key>spriteSourceSize</key>
			<string>{57, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{466, 312}, {112, 55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>options_tileTop_center.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {32, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{32, 104}</string>
			<key>spriteSourceSize</key>
			<string>{32, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{992, 0}, {32, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>options_tileTop_cut.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {64, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{64, 104}</string>
			<key>spriteSourceSize</key>
			<string>{64, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{750, 0}, {64, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>options_tileTop_deco.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 5}, {48, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 21}</string>
			<key>spriteSize</key>
			<string>{48, 60}</string>
			<key>spriteSourceSize</key>
			<string>{48, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{938, 70}, {48, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>options_tileTop_left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {98, 108}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{98, 108}</string>
			<key>spriteSourceSize</key>
			<string>{100, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{626, 370}, {98, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>reinforce_A0_0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>reinforce_A0_0012.png</string>
			
				<string>reinforce_A0_0016.png</string>
			
				<string>reinforce_A0_0014.png</string>
			
				<string>reinforce_A0_0015.png</string>
			
				<string>reinforce_A0_0013.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{43, 18}, {34, 28}}</string>
			<key>spriteOffset</key>
			<string>{8, -6}</string>
			<key>spriteSize</key>
			<string>{34, 28}</string>
			<key>spriteSourceSize</key>
			<string>{104, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{494, 272}, {28, 34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>shared_loading_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 1}, {86, 94}}</string>
			<key>spriteOffset</key>
			<string>{1, 4}</string>
			<key>spriteSize</key>
			<string>{86, 94}</string>
			<key>spriteSourceSize</key>
			<string>{104, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{582, 272}, {86, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>transitionLoading_left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {186, 370}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{186, 370}</string>
			<key>spriteSourceSize</key>
			<string>{192, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {186, 370}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>transitionLoading_right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 5}, {186, 368}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{186, 368}</string>
			<key>spriteSourceSize</key>
			<string>{192, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 0}, {186, 368}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>waveFlag_selected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{672, 272}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>waveFlag_tooltip_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {308, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{308, 18}</string>
			<key>spriteSourceSize</key>
			<string>{308, 18}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{244, 494}, {308, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>sprite_common_32hd.zwd</string>
		<key>textureFileName</key>
		<string>common_spritesheet_32-hd.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>