<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>credits_back_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 8}, {342, 338}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{342, 338}</string>
			<key>spriteSourceSize</key>
			<string>{372, 356}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{824, 1106}, {342, 338}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>credits_back_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 2}, {350, 340}}</string>
			<key>spriteOffset</key>
			<string>{1, 6}</string>
			<key>spriteSize</key>
			<string>{350, 340}</string>
			<key>spriteSourceSize</key>
			<string>{372, 356}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{471, 1106}, {350, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>credits_cocos2d.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {160, 236}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{160, 236}</string>
			<key>spriteSourceSize</key>
			<string>{168, 244}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{471, 1449}, {160, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>credits_logo.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 11}, {600, 244}}</string>
			<key>spriteOffset</key>
			<string>{-12, 1}</string>
			<key>spriteSize</key>
			<string>{600, 244}</string>
			<key>spriteSourceSize</key>
			<string>{648, 268}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{824, 1447}, {600, 244}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>credits_sword.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 14}, {420, 468}}</string>
			<key>spriteOffset</key>
			<string>{4, 4}</string>
			<key>spriteSize</key>
			<string>{420, 468}</string>
			<key>spriteSourceSize</key>
			<string>{440, 504}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1106}, {468, 420}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>credits_tile.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {2048, 472}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{2048, 472}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 472}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 631}, {2048, 472}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>credits_tileTop.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {2048, 628}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{2048, 628}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 628}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {2048, 628}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>credits-ipadhd.zwd</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>credits_scene-ipadhd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>credits_scene-ipadhd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>