<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>gold</key>
			<string>2520</string>
			<key>life</key>
			<string>10</string>
			<key>wave</key>
			<string>6</string>
		</dict>
	</array>
	<key>monsters</key>
	<array>
		<array>
			<array>
				<dict>
					<key>path</key>
					<string>2</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>11</string>
				</dict>
				<dict>
					<key>path</key>
					<string>1</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>11</string>
				</dict>
				<dict>
					<key>path</key>
					<string>2</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>11</string>
				</dict>
				<dict>
					<key>path</key>
					<string>2</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>11</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>11</string>
				</dict>
				<dict>
					<key>path</key>
					<string>1</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>11</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>2</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>11</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>11</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>1</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>11</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>2</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>12</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>12</string>
				</dict>
				<dict>
					<key>path</key>
					<string>1</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>11</string>
				</dict>
				<dict>
					<key>path</key>
					<string>2</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>11</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>13</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>13</string>
				</dict>
			</array>
		</array>
		<array>
			<array>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>13</string>
				</dict>
				<dict>
					<key>path</key>
					<string>1</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>13</string>
				</dict>
				<dict>
					<key>path</key>
					<string>2</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>13</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>13</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>1</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>-1</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>2</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>14</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>1</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>14</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>2</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>14</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>14</string>
				</dict>
				<dict>
					<key>path</key>
					<string>1</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>14</string>
				</dict>
				<dict>
					<key>path</key>
					<string>2</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>14</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>15</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>15</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>15</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>16</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>16</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>16</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>17</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>17</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>17</string>
				</dict>
			</array>
		</array>
		<array>
			<array>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>13</string>
				</dict>
				<dict>
					<key>path</key>
					<string>1</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>13</string>
				</dict>
				<dict>
					<key>path</key>
					<string>2</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>13</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>13</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>1</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>-1</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>2</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>14</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>1</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>14</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>2</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>14</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>14</string>
				</dict>
				<dict>
					<key>path</key>
					<string>1</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>14</string>
				</dict>
				<dict>
					<key>path</key>
					<string>2</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>14</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>15</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>15</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>15</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>16</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>16</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>16</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>17</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>17</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>17</string>
				</dict>
			</array>
		</array>
		<array>
			<array>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>13</string>
				</dict>
				<dict>
					<key>path</key>
					<string>1</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>13</string>
				</dict>
				<dict>
					<key>path</key>
					<string>2</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>13</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>13</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>1</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>-1</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>2</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>14</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>1</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>14</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>2</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>14</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>14</string>
				</dict>
				<dict>
					<key>path</key>
					<string>1</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>14</string>
				</dict>
				<dict>
					<key>path</key>
					<string>2</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>14</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>15</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>15</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>15</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>16</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>16</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>16</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>17</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>17</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>17</string>
				</dict>
			</array>
		</array>
		<array>
			<array>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>13</string>
				</dict>
				<dict>
					<key>path</key>
					<string>1</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>13</string>
				</dict>
				<dict>
					<key>path</key>
					<string>2</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>13</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>13</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>1</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>-1</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>2</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>14</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>1</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>14</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>2</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>14</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>14</string>
				</dict>
				<dict>
					<key>path</key>
					<string>1</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>14</string>
				</dict>
				<dict>
					<key>path</key>
					<string>2</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>14</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>15</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>15</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>15</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>16</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>16</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>16</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>17</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>17</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>17</string>
				</dict>
			</array>
		</array>
		<array>
			<array>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>13</string>
				</dict>
				<dict>
					<key>path</key>
					<string>1</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>13</string>
				</dict>
				<dict>
					<key>path</key>
					<string>2</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>13</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>13</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>1</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>-1</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>2</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>14</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>1</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>14</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>2</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>14</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>14</string>
				</dict>
				<dict>
					<key>path</key>
					<string>1</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>14</string>
				</dict>
				<dict>
					<key>path</key>
					<string>2</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>14</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>15</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>15</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>15</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>16</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>16</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>16</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>17</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>1</string>
					<key>type</key>
					<string>17</string>
				</dict>
				<dict>
					<key>path</key>
					<string>0</string>
					<key>road</key>
					<string>0</string>
					<key>type</key>
					<string>17</string>
				</dict>
			</array>
		</array>
	</array>
</dict>
</plist>
