<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>mainmenu_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1136, 640}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{1136, 640}</string>
			<key>spriteSourceSize</key>
			<string>{1136, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {1136, 640}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mainmenu_saveslot_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 10}, {976, 300}}</string>
			<key>spriteOffset</key>
			<string>{0, 4}</string>
			<key>spriteSize</key>
			<string>{976, 300}</string>
			<key>spriteSourceSize</key>
			<string>{1004, 328}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 642}, {976, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_alert_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>news_alert_0015.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {98, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{98, 94}</string>
			<key>spriteSourceSize</key>
			<string>{104, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1810, 596}, {98, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_alert_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {96, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{96, 94}</string>
			<key>spriteSourceSize</key>
			<string>{104, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1910, 596}, {96, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_alert_0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {96, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{96, 92}</string>
			<key>spriteSourceSize</key>
			<string>{104, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1810, 692}, {96, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_alert_0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {94, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 90}</string>
			<key>spriteSourceSize</key>
			<string>{104, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1908, 692}, {94, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_alert_0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {92, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{92, 90}</string>
			<key>spriteSourceSize</key>
			<string>{104, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1908, 784}, {92, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_chain.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {38, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{38, 124}</string>
			<key>spriteSourceSize</key>
			<string>{40, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2008, 596}, {38, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_closeBtn_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {58, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 50}</string>
			<key>spriteSourceSize</key>
			<string>{60, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 974}, {58, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_closeBtn_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {58, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 52}</string>
			<key>spriteSourceSize</key>
			<string>{60, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1196, 962}, {58, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_error.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{119, 151}, {670, 340}}</string>
			<key>spriteOffset</key>
			<string>{4, -23}</string>
			<key>spriteSize</key>
			<string>{670, 340}</string>
			<key>spriteSourceSize</key>
			<string>{900, 596}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1138, 596}, {670, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_frame.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {900, 594}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{900, 594}</string>
			<key>spriteSourceSize</key>
			<string>{900, 596}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1138, 0}, {900, 594}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_frame_loadingTxt.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 7}, {188, 40}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{188, 40}</string>
			<key>spriteSourceSize</key>
			<string>{208, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 962}, {188, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_frame_loading_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>news_frame_loading_0025.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 14}, {76, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, 5}</string>
			<key>spriteSize</key>
			<string>{76, 82}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1056, 842}, {76, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_frame_loading_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 13}, {76, 84}}</string>
			<key>spriteOffset</key>
			<string>{-1, 5}</string>
			<key>spriteSize</key>
			<string>{76, 84}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{978, 720}, {76, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_frame_loading_0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 16}, {78, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, 4}</string>
			<key>spriteSize</key>
			<string>{78, 80}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1056, 760}, {78, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_frame_loading_0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 21}, {76, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{76, 76}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1748, 942}, {76, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_frame_loading_0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 21}, {74, 76}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{74, 76}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{644, 944}, {74, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_frame_loading_0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 21}, {80, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{80, 76}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1508, 938}, {80, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_frame_loading_0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 21}, {84, 76}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{84, 76}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1810, 786}, {84, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_frame_loading_0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 21}, {84, 76}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{84, 76}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1810, 864}, {84, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_frame_loading_0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 21}, {82, 76}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{82, 76}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1424, 938}, {82, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_frame_loading_0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 21}, {76, 76}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{76, 76}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 944}, {76, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_frame_loading_0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 21}, {78, 74}}</string>
			<key>spriteOffset</key>
			<string>{-2, 2}</string>
			<key>spriteSize</key>
			<string>{78, 74}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{564, 944}, {78, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_frame_loading_0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 21}, {76, 78}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{76, 78}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1590, 938}, {76, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_frame_loading_0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 20}, {76, 84}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{76, 84}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1896, 876}, {76, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_frame_loading_0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 21}, {76, 82}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{76, 82}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{978, 890}, {76, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_frame_loading_0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 20}, {76, 82}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{76, 82}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{978, 806}, {76, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_frame_loading_0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 20}, {76, 76}}</string>
			<key>spriteOffset</key>
			<string>{-2, 2}</string>
			<key>spriteSize</key>
			<string>{76, 76}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 944}, {76, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_frame_loading_0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 20}, {74, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{74, 76}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1974, 876}, {74, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_frame_loading_0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 20}, {78, 76}}</string>
			<key>spriteOffset</key>
			<string>{-3, 2}</string>
			<key>spriteSize</key>
			<string>{78, 76}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1668, 938}, {78, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_frame_loading_0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 20}, {82, 76}}</string>
			<key>spriteOffset</key>
			<string>{-5, 2}</string>
			<key>spriteSize</key>
			<string>{82, 76}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1256, 938}, {82, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_frame_loading_0020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 20}, {84, 76}}</string>
			<key>spriteOffset</key>
			<string>{-5, 2}</string>
			<key>spriteSize</key>
			<string>{84, 76}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{978, 642}, {84, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_frame_loading_0021.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 20}, {82, 76}}</string>
			<key>spriteOffset</key>
			<string>{-4, 2}</string>
			<key>spriteSize</key>
			<string>{82, 76}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1340, 938}, {82, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_frame_loading_0022.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 20}, {76, 76}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{76, 76}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{406, 944}, {76, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_frame_loading_0023.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 22}, {78, 74}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{78, 74}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 944}, {78, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_frame_loading_0024.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 18}, {78, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, 3}</string>
			<key>spriteSize</key>
			<string>{78, 78}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1056, 926}, {78, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>options_overlay_buttons_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 8}, {58, 56}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{58, 56}</string>
			<key>spriteSourceSize</key>
			<string>{80, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1136, 962}, {58, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>options_overlay_buttons_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 8}, {64, 58}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{64, 58}</string>
			<key>spriteSourceSize</key>
			<string>{80, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1974, 954}, {64, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>options_overlay_buttons_0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 8}, {62, 56}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{62, 56}</string>
			<key>spriteSourceSize</key>
			<string>{80, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1064, 702}, {62, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>options_overlay_buttons_0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 8}, {64, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{64, 58}</string>
			<key>spriteSourceSize</key>
			<string>{80, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1064, 642}, {64, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>name</key>
		<string>mainmenu_spritesheet_32_2hd.zwd</string>
		<key>textureFileName</key>
		<string>mainmenu_spritesheet_32_2-hd.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>