<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>ComicPromo.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {188, 166}}</string>
			<key>spriteOffset</key>
			<string>{2, -3}</string>
			<key>spriteSize</key>
			<string>{188, 166}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{644, 288}, {188, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>but_social0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 70}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{948, 304}, {70, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>but_social0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 70}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{944, 700}, {70, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>logo.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {480, 378}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{480, 378}</string>
			<key>spriteSourceSize</key>
			<string>{480, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {378, 480}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>logo_brillo_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 97}, {10, 12}}</string>
			<key>spriteOffset</key>
			<string>{-194, 87}</string>
			<key>spriteSize</key>
			<string>{10, 12}</string>
			<key>spriteSourceSize</key>
			<string>{480, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{510, 980}, {10, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>logo_brillo_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 87}, {56, 110}}</string>
			<key>spriteOffset</key>
			<string>{-171, 48}</string>
			<key>spriteSize</key>
			<string>{56, 110}</string>
			<key>spriteSourceSize</key>
			<string>{480, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{548, 968}, {110, 56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>logo_brillo_0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 79}, {96, 140}}</string>
			<key>spriteOffset</key>
			<string>{-153, 41}</string>
			<key>spriteSize</key>
			<string>{96, 140}</string>
			<key>spriteSourceSize</key>
			<string>{480, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{802, 704}, {140, 96}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>logo_brillo_0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 73}, {142, 142}}</string>
			<key>spriteOffset</key>
			<string>{-128, 46}</string>
			<key>spriteSize</key>
			<string>{142, 142}</string>
			<key>spriteSourceSize</key>
			<string>{480, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{572, 572}, {142, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>logo_brillo_0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{84, 69}, {144, 146}}</string>
			<key>spriteOffset</key>
			<string>{-84, 48}</string>
			<key>spriteSize</key>
			<string>{144, 146}</string>
			<key>spriteSourceSize</key>
			<string>{480, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{872, 158}, {146, 144}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>logo_brillo_0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 69}, {156, 146}}</string>
			<key>spriteOffset</key>
			<string>{-55, 48}</string>
			<key>spriteSize</key>
			<string>{156, 146}</string>
			<key>spriteSourceSize</key>
			<string>{480, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{874, 0}, {146, 156}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>logo_brillo_0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{166, 69}, {116, 118}}</string>
			<key>spriteOffset</key>
			<string>{-16, 62}</string>
			<key>spriteSize</key>
			<string>{116, 118}</string>
			<key>spriteSourceSize</key>
			<string>{480, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{874, 802}, {118, 116}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>logo_brillo_0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{191, 71}, {132, 112}}</string>
			<key>spriteOffset</key>
			<string>{17, 63}</string>
			<key>spriteSize</key>
			<string>{132, 112}</string>
			<key>spriteSourceSize</key>
			<string>{480, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{778, 456}, {132, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>logo_brillo_0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{220, 71}, {138, 114}}</string>
			<key>spriteOffset</key>
			<string>{49, 62}</string>
			<key>spriteSize</key>
			<string>{138, 114}</string>
			<key>spriteSourceSize</key>
			<string>{480, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{638, 456}, {138, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>logo_brillo_0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{262, 77}, {120, 112}}</string>
			<key>spriteOffset</key>
			<string>{82, 57}</string>
			<key>spriteSize</key>
			<string>{120, 112}</string>
			<key>spriteSourceSize</key>
			<string>{480, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{912, 432}, {112, 120}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>logo_brillo_0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{276, 79}, {126, 112}}</string>
			<key>spriteOffset</key>
			<string>{99, 55}</string>
			<key>spriteSize</key>
			<string>{126, 112}</string>
			<key>spriteSourceSize</key>
			<string>{480, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{834, 304}, {112, 126}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>logo_brillo_0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{301, 80}, {130, 122}}</string>
			<key>spriteOffset</key>
			<string>{126, 49}</string>
			<key>spriteSize</key>
			<string>{130, 122}</string>
			<key>spriteSourceSize</key>
			<string>{480, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{716, 572}, {122, 130}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>logo_brillo_0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{326, 86}, {114, 128}}</string>
			<key>spriteOffset</key>
			<string>{143, 40}</string>
			<key>spriteSize</key>
			<string>{114, 128}</string>
			<key>spriteSourceSize</key>
			<string>{480, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{840, 570}, {114, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>logo_brillo_0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{344, 86}, {96, 132}}</string>
			<key>spriteOffset</key>
			<string>{152, 38}</string>
			<key>spriteSize</key>
			<string>{96, 132}</string>
			<key>spriteSourceSize</key>
			<string>{480, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{874, 920}, {132, 96}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>logo_brillo_0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{362, 91}, {78, 130}}</string>
			<key>spriteOffset</key>
			<string>{161, 34}</string>
			<key>spriteSize</key>
			<string>{78, 130}</string>
			<key>spriteSourceSize</key>
			<string>{480, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{572, 716}, {130, 78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>logo_brillo_0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{376, 94}, {64, 126}}</string>
			<key>spriteOffset</key>
			<string>{168, 33}</string>
			<key>spriteSize</key>
			<string>{64, 126}</string>
			<key>spriteSourceSize</key>
			<string>{480, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{572, 444}, {64, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>logo_brillo_0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{387, 105}, {52, 116}}</string>
			<key>spriteOffset</key>
			<string>{173, 27}</string>
			<key>spriteSize</key>
			<string>{52, 116}</string>
			<key>spriteSourceSize</key>
			<string>{480, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{660, 968}, {116, 52}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>logo_brillo_0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{398, 139}, {40, 82}}</string>
			<key>spriteOffset</key>
			<string>{178, 10}</string>
			<key>spriteSize</key>
			<string>{40, 82}</string>
			<key>spriteSourceSize</key>
			<string>{480, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{324, 980}, {82, 40}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>logo_brillo_0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{419, 166}, {20, 54}}</string>
			<key>spriteOffset</key>
			<string>{189, -3}</string>
			<key>spriteSize</key>
			<string>{20, 54}</string>
			<key>spriteSourceSize</key>
			<string>{480, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{408, 1002}, {54, 20}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>logo_brillo_0020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{420, 186}, {18, 34}}</string>
			<key>spriteOffset</key>
			<string>{189, -13}</string>
			<key>spriteSize</key>
			<string>{18, 34}</string>
			<key>spriteSourceSize</key>
			<string>{480, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{474, 980}, {34, 18}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>logo_brillo_0021.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{428, 201}, {10, 16}}</string>
			<key>spriteOffset</key>
			<string>{193, -19}</string>
			<key>spriteSize</key>
			<string>{10, 16}</string>
			<key>spriteSourceSize</key>
			<string>{480, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{504, 1000}, {10, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>logo_brillo_0023.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{393, 125}, {46, 94}}</string>
			<key>spriteOffset</key>
			<string>{176, 18}</string>
			<key>spriteSize</key>
			<string>{46, 94}</string>
			<key>spriteSourceSize</key>
			<string>{480, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{778, 968}, {94, 46}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>logo_brillo_0024.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{419, 155}, {20, 64}}</string>
			<key>spriteOffset</key>
			<string>{189, 3}</string>
			<key>spriteSize</key>
			<string>{20, 64}</string>
			<key>spriteSourceSize</key>
			<string>{480, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{408, 980}, {64, 20}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>logo_brillo_0025.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{420, 180}, {18, 38}}</string>
			<key>spriteOffset</key>
			<string>{189, -9}</string>
			<key>spriteSize</key>
			<string>{18, 38}</string>
			<key>spriteSourceSize</key>
			<string>{480, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 1002}, {38, 18}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>logo_brillo_0026.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{430, 202}, {8, 14}}</string>
			<key>spriteOffset</key>
			<string>{194, -19}</string>
			<key>spriteSize</key>
			<string>{8, 14}</string>
			<key>spriteSourceSize</key>
			<string>{480, 380}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1016}, {14, 8}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>mainmenu_saveslot_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 5}, {272, 170}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{272, 170}</string>
			<key>spriteSourceSize</key>
			<string>{272, 176}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 812}, {272, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mainmenu_saveslot_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 5}, {272, 166}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{272, 166}</string>
			<key>spriteSourceSize</key>
			<string>{272, 176}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 812}, {272, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mainmenu_saveslot_close_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{160, 30}</string>
			<key>spriteSourceSize</key>
			<string>{160, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 984}, {160, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mainmenu_saveslot_close_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{160, 30}</string>
			<key>spriteSourceSize</key>
			<string>{160, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 984}, {160, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mainmenu_saveslot_confirmdelete_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {58, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 60}</string>
			<key>spriteSourceSize</key>
			<string>{58, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{812, 0}, {60, 58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>mainmenu_saveslot_confirmdelete_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {58, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 58}</string>
			<key>spriteSourceSize</key>
			<string>{58, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{812, 120}, {58, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mainmenu_saveslot_delete_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {58, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 58}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{812, 60}, {58, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mainmenu_saveslot_delete_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {58, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 58}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{812, 180}, {58, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mainmenu_saveslot_icons_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 6}, {52, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{52, 46}</string>
			<key>spriteSourceSize</key>
			<string>{56, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{812, 240}, {52, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu_creditschain_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 0}, {262, 154}}</string>
			<key>spriteOffset</key>
			<string>{1, 13}</string>
			<key>spriteSize</key>
			<string>{262, 154}</string>
			<key>spriteSourceSize</key>
			<string>{312, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 288}, {262, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu_creditschain_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 0}, {262, 154}}</string>
			<key>spriteOffset</key>
			<string>{1, 13}</string>
			<key>spriteSize</key>
			<string>{262, 154}</string>
			<key>spriteSourceSize</key>
			<string>{312, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{548, 812}, {262, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu_startchain_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {328, 284}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{328, 284}</string>
			<key>spriteSourceSize</key>
			<string>{328, 284}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 482}, {284, 328}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>menu_startchain_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {328, 284}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{328, 284}</string>
			<key>spriteSourceSize</key>
			<string>{328, 284}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{286, 482}, {284, 328}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>news_alert_0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 7}, {90, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{90, 88}</string>
			<key>spriteSourceSize</key>
			<string>{104, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{470, 194}, {88, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>news_alert_0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 8}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{104, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{474, 0}, {86, 88}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>news_alert_0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 8}, {88, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{88, 84}</string>
			<key>spriteSourceSize</key>
			<string>{104, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{648, 0}, {88, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>news_alert_0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 7}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{104, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{560, 190}, {86, 88}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>news_alert_0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 7}, {90, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{90, 88}</string>
			<key>spriteSourceSize</key>
			<string>{104, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{472, 98}, {88, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>news_alert_0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {92, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{92, 88}</string>
			<key>spriteSourceSize</key>
			<string>{104, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 194}, {88, 92}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>news_alert_0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {94, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 90}</string>
			<key>spriteSourceSize</key>
			<string>{104, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 98}, {90, 94}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>news_alert_0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {96, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{96, 92}</string>
			<key>spriteSourceSize</key>
			<string>{104, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 0}, {92, 96}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>news_alert_0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {96, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{96, 94}</string>
			<key>spriteSourceSize</key>
			<string>{104, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{704, 716}, {96, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>mainmenu_spritesheet_32_1hd.zwd</string>
		<key>textureFileName</key>
		<string>mainmenu_spritesheet_32_1-hd.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>