<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>encyclopedia_book_pg.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {568, 640}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{568, 640}</string>
			<key>spriteSourceSize</key>
			<string>{568, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {568, 640}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>encyclopedia_creep_thumbs_0209.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {90, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{90, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{832, 630}, {90, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>encyclopedia_creep_thumbs_0212.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {90, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{90, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{756, 450}, {82, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_creep_thumbs_0213.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {90, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{90, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{842, 450}, {90, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>encyclopedia_creep_thumbs_0233.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {90, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{90, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{924, 360}, {90, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>encyclopedia_tower_thumbs_0118.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {90, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{90, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{756, 544}, {90, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_bg_icons_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 1}, {84, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{936, 446}, {84, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_bg_icons_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 1}, {84, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{850, 536}, {84, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_bg_icons_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 1}, {84, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{940, 270}, {84, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_bg_icons_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 1}, {84, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{926, 626}, {84, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_bg_icons_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 1}, {84, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{920, 716}, {84, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_bg_icons_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 1}, {84, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{938, 536}, {84, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{460, 824}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 644}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{664, 360}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{924, 0}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{832, 180}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{736, 720}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{572, 360}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{276, 914}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{552, 914}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{572, 540}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{828, 900}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{644, 824}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{740, 630}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{368, 734}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{664, 450}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 918}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{552, 734}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{184, 824}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 738}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{740, 180}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 918}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{664, 540}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{276, 734}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{368, 824}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{188, 644}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{648, 630}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{736, 900}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{736, 810}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{372, 644}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{552, 824}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {92, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{92, 90}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 644}, {92, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{184, 734}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_off_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{832, 0}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_off_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{832, 360}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_off_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{184, 914}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_off_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{924, 90}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_off_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{740, 90}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_off_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 828}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_off_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{756, 270}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_off_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{644, 734}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_off_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{368, 914}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_off_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 828}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_off_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{648, 0}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_off_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{556, 644}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_off_0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{572, 450}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_off_0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{848, 270}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_off_0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{648, 180}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_off_0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{460, 914}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_off_0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{664, 270}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_off_0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{828, 720}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_off_0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{740, 0}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_off_0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{276, 824}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_off_0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{828, 810}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_off_0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{280, 644}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_off_0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{460, 734}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_off_0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{644, 914}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_off_0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{648, 90}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_off_0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 738}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_off_0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{572, 270}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_off_0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{924, 180}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_off_0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{832, 90}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_icons_off_0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {88, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 86}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{96, 644}, {88, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_pricetag.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{47, 26}</string>
			<key>spriteSourceSize</key>
			<string>{47, 26}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{572, 0}, {47, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>upgrades_pricetag_off.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{47, 26}</string>
			<key>spriteSourceSize</key>
			<string>{47, 26}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{572, 30}, {47, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>name</key>
		<string>map_spritesheet_16hd.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>target</key>
		<dict>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>coordinatesFileName</key>
			<string>map_spritesheet_16_a-hd</string>
			<key>name</key>
			<string>Retina</string>
			<key>premultipliedAlpha</key>
			<false/>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>textureFileName</key>
			<string>map_spritesheet_16_a-hd</string>
		</dict>
		<key>version</key>
		<string>1.5.8</string>
	</dict>
</dict>
</plist>
