<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>MapBackground.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1280, 1020}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{1280, 1020}</string>
			<key>spriteSourceSize</key>
			<string>{1280, 1020}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {1280, 1020}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1386, 1324}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1406, 1500}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1826, 1410}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1466, 1846}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1930, 90}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1466, 1934}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1728, 1230}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1930, 178}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1914, 1498}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1930, 618}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1142, 1114}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1142, 1542}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1816, 1318}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1730, 1938}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1758, 1586}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1230, 1542}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1642, 1934}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1670, 1582}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1466, 1758}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1930, 530}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0021.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1642, 1846}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0022.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1930, 442}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0023.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1642, 1670}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0026.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1582, 1582}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0030.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1846, 1586}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0049.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1816, 1230}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0050.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1728, 1142}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0051.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1818, 1938}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0056.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1930, 970}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0057.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1494, 1582}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0100.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1930, 794}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0101.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1730, 1674}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0102.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1818, 1674}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0103.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1562, 1494}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0104.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1562, 1406}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0105.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1474, 1324}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0106.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1738, 1494}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0107.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1930, 1058}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0108.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1318, 1542}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0109.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1818, 1762}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0110.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1728, 1318}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0111.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1818, 1850}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0112.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1474, 1412}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0113.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1930, 882}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0114.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1640, 1142}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0115.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1904, 1146}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0116.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1930, 2}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0117.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1906, 1762}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0118.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1554, 1934}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0119.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1640, 1318}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0120.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1906, 1674}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0121.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1914, 1410}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0122.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1930, 706}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0123.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1826, 1498}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0124.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1650, 1406}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0125.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1554, 1846}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0126.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1930, 266}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0127.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1738, 1406}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0128.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1552, 1234}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0129.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1466, 1670}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0130.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1730, 1762}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0131.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1142, 1026}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0132.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1650, 1494}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0133.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1934, 1586}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0134.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1552, 1146}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0135.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1554, 1758}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0136.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1640, 1230}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0137.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1730, 1850}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0138.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1642, 1758}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0139.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1386, 1412}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0140.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1554, 1670}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0141.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1904, 1234}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0142.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1904, 1322}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0143.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1816, 1142}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievement_icon_off_0144.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1930, 354}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>encyclopedia_creep_0237.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {174, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 162}</string>
			<key>spriteSourceSize</key>
			<string>{192, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1386, 1146}, {162, 174}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>heroroom_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1136, 640}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{1136, 640}</string>
			<key>spriteSourceSize</key>
			<string>{1136, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1286, 2}, {640, 1136}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>heroroom_bigPortraits_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {240, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{240, 336}</string>
			<key>spriteSourceSize</key>
			<string>{240, 336}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1142, 1202}, {240, 336}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_bigPortraits_0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {240, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{240, 336}</string>
			<key>spriteSourceSize</key>
			<string>{240, 336}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1222, 1630}, {240, 336}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_bigPortraits_0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {240, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{240, 336}</string>
			<key>spriteSourceSize</key>
			<string>{240, 336}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{490, 1670}, {240, 336}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_bigPortraits_0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {240, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{240, 336}</string>
			<key>spriteSourceSize</key>
			<string>{240, 336}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{734, 1670}, {240, 336}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_bigPortraits_0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {240, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{240, 336}</string>
			<key>spriteSourceSize</key>
			<string>{240, 336}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 1670}, {240, 336}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_bigPortraits_0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {240, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{240, 336}</string>
			<key>spriteSourceSize</key>
			<string>{240, 336}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 1670}, {240, 336}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_bigPortraits_0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {240, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{240, 336}</string>
			<key>spriteSourceSize</key>
			<string>{240, 336}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{978, 1670}, {240, 336}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>inaps_BG.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1136, 640}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{1136, 640}</string>
			<key>spriteSourceSize</key>
			<string>{1136, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 1026}, {1136, 640}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_bar_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 440}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 440}</string>
			<key>spriteSourceSize</key>
			<string>{8, 440}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2030, 2}, {8, 440}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>upgrade_bar_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 440}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 440}</string>
			<key>spriteSourceSize</key>
			<string>{8, 440}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2018, 2}, {8, 440}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.8</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>map_spritesheet_16_na_hd.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>Retina</string>
			<key>textureFileName</key>
			<string>map_spritesheet_16_na-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>map_spritesheet_16_na-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>