<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>achievement_icon_off_0145.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{498, 330}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>achievement_icon_off_0146.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{498, 243}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>achievement_icon_off_0147.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{498, 417}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>achievement_icon_off_0148.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{340, 615}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>achievement_icon_off_0149.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{425, 522}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>encyclopedia_creep_thumbs_0202.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {90, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{90, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{413, 243}, {82, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_creep_thumbs_0203.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {90, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{90, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{255, 894}, {82, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_creep_thumbs_0204.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {90, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{90, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 861}, {82, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_creep_thumbs_0205.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {90, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{90, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{255, 801}, {82, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_creep_thumbs_0206.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {90, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{90, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{85, 768}, {82, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_creep_thumbs_0207.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {90, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{90, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{170, 675}, {82, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_creep_thumbs_0215.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {90, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{90, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 243}, {82, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_creep_thumbs_0216.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {90, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{90, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{85, 861}, {82, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_creep_thumbs_0218.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {90, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{90, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{255, 708}, {82, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_creep_thumbs_0220.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {90, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{90, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 429}, {82, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_creep_thumbs_0222.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {90, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{90, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 675}, {82, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_creep_thumbs_0223.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {90, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{90, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{85, 582}, {82, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_creep_thumbs_0236.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {90, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{90, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 582}, {82, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_creep_thumbs_0237.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {90, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{90, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{170, 861}, {82, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_creep_thumbs_0238.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {90, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{90, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{170, 582}, {82, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_tower_thumbs_0101.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {90, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{90, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{255, 522}, {82, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_tower_thumbs_0103.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {90, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{90, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 768}, {82, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_tower_thumbs_0104.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {90, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{90, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{340, 522}, {82, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_tower_thumbs_0105.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {90, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{90, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{243, 336}, {82, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_tower_thumbs_0106.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {90, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{90, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{243, 429}, {82, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_tower_thumbs_0107.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {90, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{90, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{413, 336}, {82, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_tower_thumbs_0108.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {90, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{90, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{85, 675}, {82, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_tower_thumbs_0112.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {90, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{90, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{170, 768}, {82, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_tower_thumbs_0113.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {90, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{90, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{255, 615}, {82, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_tower_thumbs_0114.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {90, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{90, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{413, 429}, {82, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_tower_thumbs_0115.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {90, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{90, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 336}, {82, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>encyclopedia_tower_thumbs_0119.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {90, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{90, 82}</string>
			<key>spriteSourceSize</key>
			<string>{96, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{243, 243}, {82, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>heroroom_bigPortraits_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {240, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{240, 336}</string>
			<key>spriteSourceSize</key>
			<string>{240, 336}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {336, 240}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>heroroom_bigPortraits_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {240, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{240, 336}</string>
			<key>spriteSourceSize</key>
			<string>{240, 336}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{678, 0}, {336, 240}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>heroroom_bigPortraits_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {240, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{240, 336}</string>
			<key>spriteSourceSize</key>
			<string>{240, 336}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 243}, {240, 336}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>heroroom_bigPortraits_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {240, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{240, 336}</string>
			<key>spriteSourceSize</key>
			<string>{240, 336}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{339, 0}, {336, 240}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>heroroom_portraits_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {80, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{80, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{585, 243}, {80, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>heroroom_portraits_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {82, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{82, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{425, 702}, {82, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>heroroom_portraits_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {82, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{82, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{510, 696}, {82, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>heroroom_portraits_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {82, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{82, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{340, 789}, {82, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>heroroom_portraits_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {82, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{82, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{340, 702}, {82, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>heroroom_portraits_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {82, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{82, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{340, 876}, {82, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>heroroom_portraits_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {82, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{82, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{512, 591}, {82, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>heroroom_portraits_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {82, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{82, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{425, 789}, {82, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>heroroom_portraits_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {82, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{82, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{512, 504}, {82, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>heroroom_portraits_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {82, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{82, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{427, 609}, {82, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>heroroom_portraits_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {82, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{82, 84}</string>
			<key>spriteSourceSize</key>
			<string>{84, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{425, 876}, {82, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>name</key>
		<string>map_spritesheet_16_na_2hd.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>target</key>
		<dict>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>coordinatesFileName</key>
			<string>map_spritesheet_16_na_2-hd</string>
			<key>name</key>
			<string>Retina</string>
			<key>premultipliedAlpha</key>
			<false/>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>textureFileName</key>
			<string>map_spritesheet_16_na_2-hd</string>
		</dict>
		<key>version</key>
		<string>1.5.8</string>
	</dict>
</dict>
</plist>
