<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>heroroom_upgradeIcons_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1026}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{836, 1102}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1140, 1026}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{532, 1026}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{760, 1026}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{76, 1102}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1444, 1026}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1140, 1102}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{304, 1026}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1102}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{684, 1102}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1368, 1102}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1672, 1026}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1178}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1748, 1026}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1520, 1026}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1520, 1102}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1444, 1102}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{532, 1102}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{76, 1178}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0021.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{228, 1102}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0022.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{304, 1102}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0023.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{76, 1026}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0024.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1900, 1102}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0025.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1596, 1026}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0026.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{684, 1026}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0027.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{760, 1102}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0028.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 1102}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0029.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1900, 1026}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0030.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{228, 1026}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0031.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1216, 1102}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0032.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1824, 1102}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0033.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1748, 1102}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0034.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{608, 1102}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0035.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{988, 1102}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0036.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1064, 1102}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0037.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1064, 1026}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0038.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{456, 1102}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0039.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{152, 1178}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0040.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1596, 1102}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0041.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{912, 1026}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0042.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{456, 1026}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0043.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{152, 1102}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0044.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 1026}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0045.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{608, 1026}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0046.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{836, 1026}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0047.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1292, 1026}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0048.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1368, 1026}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0049.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{988, 1026}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0050.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{912, 1102}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0051.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{152, 1026}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0052.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1672, 1102}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0053.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1216, 1026}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0054.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1824, 1026}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroroom_upgradeIcons_0055.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1292, 1102}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thumb_stage1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{124, 65}, {338, 340}}</string>
			<key>spriteOffset</key>
			<string>{45, -13}</string>
			<key>spriteSize</key>
			<string>{338, 340}</string>
			<key>spriteSourceSize</key>
			<string>{496, 444}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1360, 342}, {338, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thumb_stage10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{124, 65}, {338, 340}}</string>
			<key>spriteOffset</key>
			<string>{45, -13}</string>
			<key>spriteSize</key>
			<string>{338, 340}</string>
			<key>spriteSourceSize</key>
			<string>{496, 444}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1700, 684}, {338, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thumb_stage11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{124, 65}, {338, 340}}</string>
			<key>spriteOffset</key>
			<string>{45, -13}</string>
			<key>spriteSize</key>
			<string>{338, 340}</string>
			<key>spriteSourceSize</key>
			<string>{496, 444}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{680, 342}, {338, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thumb_stage12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{124, 65}, {338, 340}}</string>
			<key>spriteOffset</key>
			<string>{45, -13}</string>
			<key>spriteSize</key>
			<string>{338, 340}</string>
			<key>spriteSourceSize</key>
			<string>{496, 444}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1020, 684}, {338, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thumb_stage13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{124, 65}, {338, 340}}</string>
			<key>spriteOffset</key>
			<string>{45, -13}</string>
			<key>spriteSize</key>
			<string>{338, 340}</string>
			<key>spriteSourceSize</key>
			<string>{496, 444}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 684}, {338, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thumb_stage14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{124, 65}, {338, 340}}</string>
			<key>spriteOffset</key>
			<string>{45, -13}</string>
			<key>spriteSize</key>
			<string>{338, 340}</string>
			<key>spriteSourceSize</key>
			<string>{496, 444}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1700, 342}, {338, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thumb_stage15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{124, 65}, {338, 340}}</string>
			<key>spriteOffset</key>
			<string>{45, -13}</string>
			<key>spriteSize</key>
			<string>{338, 340}</string>
			<key>spriteSourceSize</key>
			<string>{496, 444}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1020, 0}, {338, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thumb_stage16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{124, 65}, {338, 340}}</string>
			<key>spriteOffset</key>
			<string>{45, -13}</string>
			<key>spriteSize</key>
			<string>{338, 340}</string>
			<key>spriteSourceSize</key>
			<string>{496, 444}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1700, 0}, {338, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thumb_stage17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{124, 65}, {338, 340}}</string>
			<key>spriteOffset</key>
			<string>{45, -13}</string>
			<key>spriteSize</key>
			<string>{338, 340}</string>
			<key>spriteSourceSize</key>
			<string>{496, 444}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {338, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thumb_stage18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{124, 65}, {338, 340}}</string>
			<key>spriteOffset</key>
			<string>{45, -13}</string>
			<key>spriteSize</key>
			<string>{338, 340}</string>
			<key>spriteSourceSize</key>
			<string>{496, 444}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 342}, {338, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thumb_stage2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{124, 65}, {338, 340}}</string>
			<key>spriteOffset</key>
			<string>{45, -13}</string>
			<key>spriteSize</key>
			<string>{338, 340}</string>
			<key>spriteSourceSize</key>
			<string>{496, 444}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{340, 684}, {338, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thumb_stage3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{124, 65}, {338, 340}}</string>
			<key>spriteOffset</key>
			<string>{45, -13}</string>
			<key>spriteSize</key>
			<string>{338, 340}</string>
			<key>spriteSourceSize</key>
			<string>{496, 444}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1360, 684}, {338, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thumb_stage4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{124, 65}, {338, 340}}</string>
			<key>spriteOffset</key>
			<string>{45, -13}</string>
			<key>spriteSize</key>
			<string>{338, 340}</string>
			<key>spriteSourceSize</key>
			<string>{496, 444}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1360, 0}, {338, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thumb_stage5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{124, 65}, {338, 340}}</string>
			<key>spriteOffset</key>
			<string>{45, -13}</string>
			<key>spriteSize</key>
			<string>{338, 340}</string>
			<key>spriteSourceSize</key>
			<string>{496, 444}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{680, 0}, {338, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thumb_stage6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{124, 65}, {338, 340}}</string>
			<key>spriteOffset</key>
			<string>{45, -13}</string>
			<key>spriteSize</key>
			<string>{338, 340}</string>
			<key>spriteSourceSize</key>
			<string>{496, 444}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{340, 342}, {338, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thumb_stage7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{124, 65}, {338, 340}}</string>
			<key>spriteOffset</key>
			<string>{45, -13}</string>
			<key>spriteSize</key>
			<string>{338, 340}</string>
			<key>spriteSourceSize</key>
			<string>{496, 444}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{340, 0}, {338, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thumb_stage8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{124, 65}, {338, 340}}</string>
			<key>spriteOffset</key>
			<string>{45, -13}</string>
			<key>spriteSize</key>
			<string>{338, 340}</string>
			<key>spriteSourceSize</key>
			<string>{496, 444}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{680, 684}, {338, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>thumb_stage9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{124, 65}, {338, 340}}</string>
			<key>spriteOffset</key>
			<string>{45, -13}</string>
			<key>spriteSize</key>
			<string>{338, 340}</string>
			<key>spriteSourceSize</key>
			<string>{496, 444}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1020, 342}, {338, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.8</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>map_spritesheet_16_a_3hd.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>Retina</string>
			<key>textureFileName</key>
			<string>map_spritesheet_16_a_3-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>map_spritesheet_16_a_3-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>