<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Cave_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {80, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{80, 60}</string>
			<key>spriteSourceSize</key>
			<string>{84, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{674, 0}, {80, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Cave_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{37, 22}, {12, 4}}</string>
			<key>spriteOffset</key>
			<string>{1, 8}</string>
			<key>spriteSize</key>
			<string>{12, 4}</string>
			<key>spriteSourceSize</key>
			<string>{84, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{38, 338}, {12, 4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Cave_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{21, 33}, {12, 4}}</string>
			<key>spriteOffset</key>
			<string>{-15, -3}</string>
			<key>spriteSize</key>
			<string>{12, 4}</string>
			<key>spriteSourceSize</key>
			<string>{84, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{44, 324}, {4, 12}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Cave_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{49, 35}, {12, 4}}</string>
			<key>spriteOffset</key>
			<string>{13, -5}</string>
			<key>spriteSize</key>
			<string>{12, 4}</string>
			<key>spriteSourceSize</key>
			<string>{84, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{38, 324}, {4, 12}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Stage11_CliffTop_Left.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{495, 608}, {36, 342}}</string>
			<key>spriteOffset</key>
			<string>{-87, -279}</string>
			<key>spriteSize</key>
			<string>{36, 342}</string>
			<key>spriteSourceSize</key>
			<string>{1200, 1000}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {36, 342}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Stage11_CliffTop_Right.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{568, 678}, {132, 322}}</string>
			<key>spriteOffset</key>
			<string>{34, -339}</string>
			<key>spriteSize</key>
			<string>{132, 322}</string>
			<key>spriteSourceSize</key>
			<string>{1200, 1000}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{38, 0}, {132, 322}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Stage11_Tunel1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {164, 214}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{164, 214}</string>
			<key>spriteSourceSize</key>
			<string>{168, 216}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 344}, {214, 164}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Stage11_Tunel2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 3}, {284, 250}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{284, 250}</string>
			<key>spriteSourceSize</key>
			<string>{296, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 0}, {250, 284}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Stage11_Tunel3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {272, 248}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{272, 248}</string>
			<key>spriteSourceSize</key>
			<string>{276, 248}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{424, 0}, {248, 272}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>alert_creep_0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {116, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{116, 96}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{452, 404}, {116, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>alert_creep_0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {116, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{116, 96}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{674, 98}, {96, 116}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>alert_creep_0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {116, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{116, 96}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{216, 286}, {96, 116}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>alert_creep_0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {116, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{116, 96}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{570, 392}, {96, 116}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>alert_creep_0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {116, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{116, 96}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{412, 286}, {96, 116}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>tunnel_light_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
				<string>tunnel_light_0014.png</string>
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 5}, {96, 116}}</string>
			<key>spriteOffset</key>
			<string>{16, 3}</string>
			<key>spriteSize</key>
			<string>{96, 116}</string>
			<key>spriteSourceSize</key>
			<string>{136, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{668, 392}, {96, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>tunnel_light_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
				<string>tunnel_light_0013.png</string>
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 5}, {96, 116}}</string>
			<key>spriteOffset</key>
			<string>{16, 3}</string>
			<key>spriteSize</key>
			<string>{96, 116}</string>
			<key>spriteSourceSize</key>
			<string>{136, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{334, 404}, {116, 96}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>tunnel_light_0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
				<string>tunnel_light_0012.png</string>
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 5}, {96, 116}}</string>
			<key>spriteOffset</key>
			<string>{16, 3}</string>
			<key>spriteSize</key>
			<string>{96, 116}</string>
			<key>spriteSourceSize</key>
			<string>{136, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{216, 404}, {116, 96}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>tunnel_light_0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
				<string>tunnel_light_0011.png</string>
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 5}, {96, 116}}</string>
			<key>spriteOffset</key>
			<string>{16, 3}</string>
			<key>spriteSize</key>
			<string>{96, 116}</string>
			<key>spriteSourceSize</key>
			<string>{136, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{766, 0}, {116, 96}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>tunnel_light_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{36, 5}, {96, 116}}</string>
			<key>spriteOffset</key>
			<string>{16, 3}</string>
			<key>spriteSize</key>
			<string>{96, 116}</string>
			<key>spriteSourceSize</key>
			<string>{136, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{510, 274}, {96, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>tunnel_light_0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
				<string>tunnel_light_0008.png</string>
				<string>tunnel_light_0009.png</string>
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 5}, {96, 116}}</string>
			<key>spriteOffset</key>
			<string>{16, 3}</string>
			<key>spriteSize</key>
			<string>{96, 116}</string>
			<key>spriteSourceSize</key>
			<string>{136, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{608, 274}, {96, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>tunnel_light_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{36, 5}, {96, 116}}</string>
			<key>spriteOffset</key>
			<string>{16, 3}</string>
			<key>spriteSize</key>
			<string>{96, 116}</string>
			<key>spriteSourceSize</key>
			<string>{136, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{314, 286}, {96, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>tunnel_light_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{36, 5}, {96, 116}}</string>
			<key>spriteOffset</key>
			<string>{16, 3}</string>
			<key>spriteSize</key>
			<string>{96, 116}</string>
			<key>spriteSourceSize</key>
			<string>{136, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{884, 0}, {116, 96}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>name</key>
		<string>HD - sprite_level11.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>textureFileName</key>
		<string>sprite_level11-hd.png</string>
		<key>version</key>
		<string>1.6.0</string>
	</dict>
</dict>
</plist>
